{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Hero Section with Background Image -->
<div class="about-hero-section"></div>

<!-- About Us Title and Content Section -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 text-center">
            {% if "placeholder" in about.profile_image.url %}
      <img src="{% static 'images/default.jpg' %}" class="profile-image"
        alt="placeholder image" >
      {% else %}
      <img src="{{ about.profile_image.url }}" class="profile-image"
        alt="{{ about.title }}">
      {% endif %}
      
            <h1 class="about-us">About Us</h1> <!-- "About Us" title below the hero image -->
            <h2>{{ about.title }}</h2>
            <article>{{ about.content | safe }}</article>
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
          
        </div>
    </div>
</div>

{% endblock %}